.gitignore
.env.example
*.iml
*.ipynb
*.log
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.swp
*.swo
*.vs
*.vsps
*.vsss
_reshenv
.env
.eggs
.egg-info
.SSQlite
bin
cover.out
dist
local
node_modules
.tox
.venv
.venv3
venv.lock
__pycache__
go.sum
gopath
pkg

# IDE ignore files
.idea
.vscode

# Build ignore files
build
release
